.flexcontainer {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: flex-start;
}

.flexcontainer img {

  justify-content: center;
  border-radius: 250px;
  width: 35%;
  border-width: thick;
  border-style: groove;
  border-color: #ffa62bff;
}

.flexcontainer h1 {


  padding: 50px;
  color: #ffa62bff;
  font-size: 150px;
  text-shadow: 2px 2px #123;
}

body {
  background-color: #16697aff;
  font-family: cursive;
  font-size: 25px;
  color: #ede7e3ff;
}

body h2 {
  color: #ffa62bff;
  font-size: 50px;
  font-family: cursive;
  padding-bottom: 10px;
}

.banner {
  background-color: #123;

}

.banner img {
  display: block;
  max-height: 250px;
  width: 50%;
  height: auto;
}

.Header {
  background-color: #16697aff;
  border-radius: 25px;
  padding: 20px;
  margin: auto;
  margin-top: 20px;
  width: 80%;
}

a {
  color: yellow;
}

h2 {
  color: #ffa62bff;
  font-size: 50px;
}

h3 {
  color: #ffa62bff;
}

.Header ul {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  list-style-type: none;
  background-color: #123;
  border-radius: 25px;
}

.BSEC {
  background-color: #489fb5ff;
  border-radius: 25px;
  padding: 20px;
  margin: auto;
  margin-top: 10px;

  border-style: groove;
  border-color: #ffa62bff;

  width: 80%;
}

#traits1 {
  display: block;
  width: 80%;
}

#traits2 {
  width: 90%;
  display: block;
  border-radius: 30px;
  border-style: groove;
  border-color: #ffa62bff;
}

#traits3 {
  display: block;
  width: 100%;
  border-radius: 30px;
  border-style: groove;
  border-color: #ffa62bff;
}

#jobpage {
  display: block;
  width: 80%;
  border-radius: 30px;
  border-style: groove;
  border-color: #ffa62bff;
}
